.selectedDay {
  font-weight: 900;
}

.body {
  background-image: url("car1.jpg");
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.cards > li {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #000;
  margin: 20px;
  background: snow;
}

.raceTitle {
  text-align: center;
}

.react-calendar {
  margin: 0 auto;
}
